* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html{
    height: 100vh;
}
body {
  font-size: 20px;
  font-family: "Inconsolata", serif;
  background-image: 
  url(./assets/images/pattern-lines.svg),
  url(./assets/images/background-desktop.png);
  background-size: cover cover;
  background-position: center center;
  background-repeat: repeat no-repeat;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 20px;
  overflow: hidden;
}
/* header styling */
header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30px 0 0 0;
}
/* title section styling */
#Title {
  margin: 30px 0 0 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#Title h1 {
  font-size: 50px;
  font-weight: 600;
  text-align: center;
  color: hsl(252, 6%, 83%);
  width: 70%;
  margin: 0px;
}

#Title p {
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 1px;
  margin: 20px;
  text-align: center;
  color: hsl(252, 6%, 83%);
  width: 100%;
}
.top-right-img{
    position: fixed;
    top: 0;
    right: 0;
}
.bottom-left-img{
    position: fixed;
    bottom: 0;
    left: 0;
}
.circle-pattern-img{
    position: fixed;
    top: 42%;
    right: 27.5%;
}
/* form styling */
#form{
    margin: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.image-input{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    padding: 20px;
    width: 100%;
    height: 180px;
    border-spacing: 10px;
    border-style: dashed;
    border-color: hsl(245, 15%, 58%);
    border-radius: 10px;
    background-color: rgba(135, 132, 164,0.3);
}
.image-input img{
    position: absolute;
    left: 44%;
    margin-bottom: 30px !important;
    height: 60px;
    border-style: solid;
    border-color: hsl(245, 15%, 58%);
    border-radius: 10px;
    background-color: rgba(135, 132, 164,0.3);
}

#form label{
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 1px;  
    text-align: center;
    color: hsl(252, 6%, 83%);
    width: 100%;
    text-align: left;
    margin-bottom: 10px;
}
#image-controls{
    display: none;
    margin: 20px 0;
}

#image-controls button{
    font-size: 15px;
    height: 30px;
    width: 150px;
    text-align: center;
    border-radius: 8px;
    margin-top: 20px !important;
    background-color: hsl(245, 15%, 58%);
    text-decoration: underline;
    color: hsl(252, 6%, 83%);
    cursor: pointer;
}
#image-controls button:hover{
    transform: scale(1.3);
    transition: transform 0.3s ease-in-out;
    background-color: hsl(245, 19%, 35%);
}
#image-controls button:active{
   
    background-color: hsl(244, 35%, 15%);
    
}
/* #form #submit_btn:hover{
    
    background-color: hsl(7, 86%, 47%);
}

#form #submit_btn:active{
    transform: scale(1.1);
    background-color: hsl(7, 91%, 26%);
} */
.text_under_imageInput{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    gap: 10px;
    margin-bottom: 30px;
    color: rgba(255, 255, 255,0.5);
    font-size: 15px;
    font-weight: 300;
}
#form input{
    padding: 10px;
    margin: 0 0 20px 0;
    width: 500px;
    height: 50px;
    border: 2px solid hsl(245, 15%, 58%);
    border-radius: 10px;
    font-size: 20px;
    background-color: rgba(135, 132, 164,0.3);
    color: white;
}
input:focus{
    outline: 4px solid hsl(7, 71%, 60%)!important;
}
#form span{
    margin-top: 20px;
    color: hsl(252, 6%, 83%);
}
#form #submit_btn{
    padding: 20px;
    margin: 30px 0;
    width: 100%;
    
    border: none;
    border-radius: 10px;
    font-size: 20px;
    background-color: hsl(7, 88%, 67%);
    color: hsl(248, 70%, 10%);
    font-weight: 600;
    cursor: pointer;
    
}
#form #submit_btn:hover{
    transform: scale(1.1);
    transition: all 0.3s ease-in-out;
    background-color: hsl(7, 86%, 47%);
}

#form #submit_btn:active{
    
    background-color: hsl(7, 91%, 26%);
}

#Ticket-section{
    margin: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.Ticket-image{
    width: 500px;
    height: 250px;
    margin: 30px;
    background: url(./assets/images/pattern-ticket.svg) no-repeat center / cover; 
    border:hsl(7, 88%, 67%);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
    /* background-color: hsl(252, 6%, 83%); */
}
#Title{
    margin: 30px;
}
#Title .gradient-text{
    background:linear-gradient(45deg, hsl(7, 86%, 67%), hsl(0, 0%, 100%));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
#Title p{
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 1px;
    color: hsl(252, 6%, 83%);
    width: 50%;
}

.Ticket-image .header-part{
    margin: 30px;
    position: relative;
    color: hsl(245, 15%, 58%);
}
.Ticket-image .header-part p{
    position: absolute;
    left: 10%;
    margin-top: 10px;
}

.Ticket-image .Avatar-part{
    margin: 30px;
    letter-spacing: 2px;
    font-weight: 100;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.Ticket-image .Avatar-part img{
   border-radius: 5px;
   margin-top: 10px auto;
   
}
.Ticket-image .Avatar-part p{
    margin: 27px;
    color: hsl(0, 0%, 100%);
    letter-spacing: 1px;
    font-weight: 100;
}
.Ticket-image .Avatar-part p span{

    color: hsl(245, 15%, 58%);

}
